<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- ===== SECTION DECLARATIONS ================================================================ -->
  <configSections>
    <section name="bitsOfNature.diagnostics" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <!-- ===== DIAGNOSTICS ========================================================================= -->
  <bitsOfNature.diagnostics>
    <traceListenerDefinitions>
      <!--<add name="Console" type="System.Diagnostics.ConsoleTraceListener,System.Diagnostics.TextWriterTraceListener" initializeData="" />-->
      <!--<add name="Console" type="BitsOfNature.Core.IO.Tracing.Listeners.WindowsConsoleTraceListener,BitsOfNature.Core" initializeData="{d} | {n,-40} | TID[{tid,6}] | {l,-9} | {iid} {m};AutoDetect" />-->
      <add name="Console" type="BitsOfNature.Core.IO.Tracing.Listeners.ConsoleTraceListener,BitsOfNature.Core" initializeData="{d} | {n,-40} | TID[{tid,6}] | {l,-9} | {iid} {m};AutoDetect" />
      <add name="LogFile" type="BitsOfNature.Core.IO.Tracing.Listeners.LogFileTraceListener,BitsOfNature.Core" initializeData="{d} | {n,-20} | TID[{tid,6}] | {tp} | {l,-9} | {iid} {m};;" />
    </traceListenerDefinitions>
    <traceListeners>
      <add name="Console" />
      <add name="LogFile" />
    </traceListeners>
    <traceSwitches>
      <traceSwitch name="^GlobalTrace$" level="Default, Info, Debug" />
      <traceSwitch name="Rest" level="Default, Info" />
    </traceSwitches>
    <settings>
      <!--<consoleTrace enabled="true" codePage="65001"/>-->
    </settings>
  </bitsOfNature.diagnostics>
  <!-- ===== SETTINGS ============================================================================ -->
  <appSettings>
    <add key="CrossPlatformAppConfigurationPath" value="CrossPlatformApp.xml" />
  </appSettings>
</configuration>